@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon {
    display: block;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: hsl(280, 11%, 11%);
    font-size: 1.6rem;
    line-height: 1.5;
}

:focus-visible {
    outline-offset: 4px;
}

.container {
    padding-inline: 15px;
}

.section {
    padding-block: 120px;
}

.h1,
.h2,
.h3 {
    color: hsl(0, 0%, 100%);
    font-family: 'Oxanium', cursive;
    font-weight: 800;
    line-height: 1;
}

.h1 {
    font-size: 4.5rem;
    letter-spacing: -3px;
}

.h2 {
    font-size: 3.6rem;
}

.h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

:is(.h1, .h2, .h3, .card-price) .span {
    display: inline-block;
    color: hsl(290, 99%, 46%);
}

.btn {
    margin-inline: auto;
    color: hsl(277, 25%, 10%);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    min-height: 55px;
    padding-inline: 35px;
}

.skewBg {
    position: relative;
    z-index: 1;
}

.skewBg::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: skewX(var(--skewX, -16deg));
    background-color: var(--bg, hsl(290, 99%, 46%));
    z-index: -1;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 8px);
    width: 5px;
    transform: skewX(-16deg) translateX(var(--translateX, 0));
    background-color: hsl(290, 99%, 46%);
    transition: 0.25s ease;
}

.btn:is(:hover, :focus)::after {
    --translateX: -13px;
}

.has-scrollbar {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-block-end: 30px;
    scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {
    height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
    outline: 3px solid hsl(290, 99%, 46%);
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(290, 99%, 46%);
}

.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}

.section-subtitle,
.section-title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.section-subtitle {
    color: hsl(0, 0%, 78%);
    font-size: 1.4rem;
    font-weight: 700;
    margin-block-end: 10px;
}

.section-title::after {
    content: url("../images/title-underline.png");
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
}

.w-100 {
    width: 100%;
    height: 100%;
}

/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/
.cart-btn,
.header-bottom::before,
.navbar-link::before {
    display: none;
}

.header {
    position: relative;
    min-height: 1px;
}

.header-bottom {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    background-color: hsl(236, 17%, 17%);
    padding-block: 20px;
    z-index: 4;
}

.header-bottom.active {
    position: fixed;
    top: -85px;
    animation: slideIn 0.5s cubic-bezier(0.33, 0.85, 0.4, 0.96) forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: hsl(0, 0%, 100%);
    font-family: 'Oxanium', cursive;
    font-size: 3rem;
    font-weight: 800;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-btn {
    color: hsl(290, 99%, 46%);
    padding: 13px;
    box-shadow: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
        inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
    ;
    border-radius: 4px;
}

.search-btn ion-icon {
    --ionicon-stroke-width: 80px;
}

.nav-toggle-btn {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close {
    display: none;
}

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close {
    display: block;
}

.navbar {
    background-color: hsl(277, 25%, 10%);
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 350px;
    visibility: hidden;
    max-height: 0;
    transition: 0.25s cubic-bezier(0.33, 0.85, 0.4, 0.96);
    overflow: hidden;
}

.navbar.active {
    visibility: visible;
    max-height: 275px;
    transition-duration: 0.5s;
}

.navbar-item:not(:last-child) {
    border-block-end: 1px solid hsla(0, 0%, 100%, 0.15);
}

.navbar-link {
    padding: 10px 25px;
    transition: 0.25s ease;
}

.navbar-link:is(:hover, :focus) {
    background-color: hsla(0, 0%, 100%, 0.1);
}

/*-----------------------------------*\
    #SEARCH BOX
\*-----------------------------------*/
.search-container {
    background-color: hsla(222, 18%, 11%, 0.95);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease;
}

.search-container.active {
    visibility: visible;
    opacity: 1;
}

.search-container .input-wrapper {
    position: relative;
    max-width: 560px;
    width: 100%;
}

.search-container .search-field {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    padding: 20px;
    padding-inline-end: 60px;
    border-block-end: 3px solid hsla(0, 0%, 100%, 0.1);
    outline: none;
    transition: 0.25s ease;
}

.search-container .search-field:focus {
    border-color: hsl(0, 2%, 82%);
}

.search-container .search-field::-webkit-search-cancel-button {
    display: none;
}

.search-container .search-submit {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    color: hsl(292, 99%, 46%);
}

.search-container .search-submit ion-icon {
    --ionicon-stroke-width: 70px;
}

.search-container .search-close {
    position: fixed;
    inset: 0;
    cursor: default;
    z-index: -1;
}

/*-----------------------------------*\
    #HERO
\*-----------------------------------*/
.hero-banner {
    display: none;
}

.hero {
    padding: 60px;
    margin-block-start: 84px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.hero-subtitle {
    color: hsl(290, 99%, 46%);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-title {
    margin-block: 15px 12px;
}

.hero-text {
    color: hsl(0, 2%, 82%);
    margin-block-end: 45px;
}

@media (min-width: 576px) {

    /**
     * REUSED STYLE
     */
    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .h1 {
        font-size: 7rem;
    }

    /**
     * HEADER
     */
    .header-actions {
        gap: 40px;
    }

    .cart-btn {
        display: block;
        position: relative;
        color: hsl(0, 0%, 100%);
        font-size: 20px;
    }

    .cart-badge {
        position: absolute;
        top: -6px;
        right: -10px;
        background-color: hsl(290, 99%, 46%);
        color: hsl(0, 0%, 100%);
        font-size: 1.2rem;
        border-radius: 20px;
        padding: 3px 5px;
        line-height: 1;
        font-weight: 800;
    }

    /**
     * SEARCH BOX
     */
    .search-container :is(.search-field, .search-submit) {
        font-size: 3.6rem;
    }
}

@media (min-width: 768px) {

    /**
     * REUSED STYLE
     */
    .container {
        max-width: 720px;
    }

    .scrollbar-item {
        min-width: calc(50% - 15px);
    }

    /**
     * HERO
     */
    .hero-text {
        max-width: 60ch;
        margin-inline: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    :is(.header, .hero, .live-match) .container {
        max-width: unset;
    }

    .scrollbar-item {
        min-width: calc(33.33% - 20px);
    }

    /**
     * HEADER
     */
    .header-bottom {
        outline: 1px solid hsla(0, 0%, 0%, 0.2);
    }

    .header-bottom::before {
        display: block;
        top: 0;
        left: -15px;
        right: auto;
        width: 170px;
        --skewX: 16deg;
    }

    .nav-toggle-btn {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline: auto 15px;
    }

    .navbar-list {
        display: flex;
    }

    .navbar-item:not(:last-child) {
        border-block-end: none;
    }

    .navbar-link {
        color: hsl(0, 0%, 100%);
        font-family: 'Oxanium', cursive;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 20px;
    }

    .navbar-link::before {
        display: block;
        opacity: 0;
        transition: 0.25s ease;
    }

    .navbar-link:is(:hover, :focus) {
        background-color: transparent;
        color: hsl(277, 25%, 10%);
    }

    .navbar-link:is(:hover, :focus)::before {
        opacity: 1;
    }

    /**
     * HERO
     */
    .hero {
        text-align: left;
    }

    .hero-banner {
        display: block;
    }

    .hero .container {
        display: grid;
        grid-template-columns: 1fr 0.9fr;
        align-items: center;
        gap: 50px;
    }

    .btn {
        margin-inline: 0;
    }
}

@media (min-width: 1200px) {

    /**
     * REUSED STYLE
     */
    .container,
    :is(.header, .hero, .live-match) .container {
        max-width: 1230px;
    }

    .h1 {
        font-size: 7.5rem;
    }

    .scrollbar-item {
        min-width: calc(25% - 22.5px);
    }

    /**
     * HEADER
     */
    .header-bottom::before {
        width: 270px;
    }

    .navbar-link {
        font-size: 1.4rem;
        padding-inline: 25px;
    }

    /**
     * HERO
     */
    .hero .container {
        grid-template-columns: 1fr 1fr;
    }
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgb(23, 37, 92) 38%, rgb(88, 0, 110) 68%, rgb(25, 0, 39) 98%);    animation: gradient 15s ease infinite;
    background-color: #531276;
    background-size: 400% 400%;
    background-attachment: fixed;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.header, .footer {
    width: 100%;
    background-color: #3b2461;
    color: white;
    text-align: center;
    padding: 10px;
}

.sidebar {
    display: flexbox;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #FFF;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #FFF;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translateX(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #FFF;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 10%;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1D1B31;
    padding-left: 50px;
    font-size: 16px;
    color: #FFF;
}

.sidebar ul li .ms-Icon--Search {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
    color: #FFF;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .ms-Icon--Search:hover {
    background: #FFF;
    color: #11101D;
}

.nav_list {
    display: flex;
    flex-direction: column;
    
}

.sidebar ul li a {
    color: #FFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101D;
    background: #FFF;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .profile_content {
    position: absolute;
    color: #FFF;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.5s ease;
}

.sidebar.active .profile_content .profile {
    background: #1D1B31;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease;
    background: #1D1B31;
}

.sidebar.active .profile #log_out {
    left: 88%;
}

.sidebar.active .profile #log_out {
    background: none;
}

.home_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: calc(100%-78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-left: 12px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
}

.sidebar.active~.home_content {
    width: calc(100% - 240px);
    left: 240px;
}

.profile-icon {
    font-size: 24px;
    color: #e1e1e1;
}

.content {  
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #6a5ca4, #8e3b7b);
    color: white;
    margin: 10px;
    border-radius: 10px;
}

.home_content .text {
    font-size: 25px;
    color: #FFF;
    margin: 12px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #6a5ca4, #8e3b7b);
    color: white;
    margin: 10px;
    border-radius: 10px;
}

.image-section, .play-section {
    flex: 1;
}

.play-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-button {
    text-transform: uppercase;
    font-size: 28px;
    color: white;
    background: rgba(29, 27, 49, .6);
    border: 2px solid #8000ff;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    outline: none;
}

.play-button:hover {
    box-shadow: 0 0 10px #8000ff, 0 0 20px #8000ff, 0 0 30px #8000ff, 0 0 40px #8000ff;
    letter-spacing: .25rem;
}

.play-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #11101D;
    z-index: -1;
}

.play-button::before {
    counter: "";
    position: absolute;
    left: 100%;
    top: -6px;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: #27282c;
    border: 2px solid var(--clr);
    transition: all 0.8s;
} */

/* responsive for side bar */
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 200px;
    }

    .sidebar.active~.home_content {
        left: 200px;
    }

    /* make sure main content is resposive towards sidebar */
    .home_content {
        left: 60px;
    }

    .header,
    .footer {
        padding: 15px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}