html,
body {
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    /* margin-bottom: 0px; */
    font-family: Arial, sans-serif;
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

h2 {
    margin-top: 50px;
    color: #fff;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #f4f4f4;
}

table th {
    background-color: #b9b9b9;
    text-align: center;
}

table td {
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

.action-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-btn,
.dlt-btn {
    /* display: inline-block; */
    margin: 0px auto;
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
}

.edit-btn {
    background-color: #4CAF50;
    color: #fff;
}

.edit-btn:hover {
    background-color: #45a049;
}

.dlt-btn {
    background-color: #ff0000;
    color: #fff;
    text-align: right;
}

.dlt-btn:hover {
    background-color: #d32f2f;
}

.edit-section {
    padding-bottom: 100px;
    display: none;
    width: 80%;
    margin: 20px auto;
    /* Matches the table's width and centers it */
}

.edit-section h2 {
    text-align: left;
    margin-bottom: 10px;
}

.edit-box {
    width: 100%;
    height: 340px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.edit-each-section {
    margin: 10px;
    font-size: 18px;
    margin-left: 10px;
}

.edit-each-section input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-each-section input,
.edit-each-section label {
    margin-left: 10px;
}

.save-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.save-btn:hover {
    background-color: #91c199;
}

/* Media query for smaller screens */
@media (max-width: 720px) {
    h1 {
        font-size: 20px;
    }

    body {
        padding-left: 50px;
    }

    .action-btn {
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: flex-start;
        /* Align buttons to the left */
    }

    .edit-btn,
    .dlt-btn {
        margin: 5px 0;
        /* Add space between buttons */
        width: 100%;
        /* Make buttons take full width */
    }
}